* {
  background-color: #282c34;
  color:rgba(255, 255, 255, 0.884)
}

.App {
  background-color: #282c34;
  color: rgba(255, 255, 255, 0.884);
}

.body {
  justify-content: center;
  align-content: center;
  text-align: center;
}